@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[2.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[2.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[2.1] font-semibold;
  }
  .name-text{
    @apply text-[50px] lg:text-[100px] xl:text-[139px] font-bold;
  }
}
  
@layer utilities {
  .top-text-stroke{
    color: transparent;
    -webkit-text-stroke: 0.06vw #fff;
  }
  .top-text-stroke span {
    color: #fed90f;
    -webkit-text-stroke: 0;
  }
  .bottom-text-stroke {
    position: absolute;
    right :0;
    bottom:0;
    background-clip: text;
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    color: #2E4C9D;
    font-weight: 700;
    letter-spacing: 4px;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 4px;
  }
}
